.footer-addres {
  margin-right: 70px;
}
.footer-adres__link {
  font-family: var(--hero-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.footer-adres__link--color {
  color: var(--background-header);
}

.header__addres {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 50px;
  display: flex;
  align-items: center;
  color: var(--body-cl);
  text-decoration: none;
  font-weight: 500;
  font-family: var(--hero-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
