.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--background-header);
}
.header__section--position {
  justify-content: flex-end;
  display: flex;
  align-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__addres {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 50px;
  display: flex;
  align-items: center;
  color: var(--body-cl);
  text-decoration: none;
  font-weight: 500;
  font-family: var(--hero-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
