.hero-section--bg {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-fon.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
