.menu-burger {
}
.mobile-menu {
  padding-bottom: 48px;
  position: absolute;
  background-color: white;
  top: 0;
  padding-top: 48px;
  width: 100vw;
  height: 100vh;
  .section {
    position: relative;
    height: 100%;
    min-height: 400px;
  }
}
.exit--mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  border-color: white;
  margin: 0;
}
.mobile-menu--nav {
  margin-bottom: -30px;
}
.mobile-menu--nav-link {
  margin-bottom: 30px;
}
.nav__link--mobile-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
}
.header__addres--mobile-menu {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-left: 0px;
}
.mobile-menu__addres {
  margin-bottom: 64px;
}
.mobile-menu--nav-link-mt {
  margin-bottom: 30px;
}
.mobile-menu__soc {
  li {
    margin-right: auto;
  }
  display: flex;
  flex-wrap: wrap;
}
.mobile-menu__soc-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
