.menu-burger {
}
.mobile-menu {
  position: absolute;
  background-color: white;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.exit--mobile-menu {
  border-color: white;
}
.mobile-menu--nav {
  margin-bottom: -30px;
}
.mobile-menu--nav-link {
  margin-bottom: 30px;
}
.nav__link--mobile-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
}
.header__addres--mobile-menu {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-left: 0px;
}
.mobile-menu__addres {
  margin-bottom: -30px;
}
.mobile-menu--nav-link-mt {
  margin-bottom: 30px;
}
.mobile-menu__soc {
  display: flex;
  justify-content: space-around;
}
.mobile-menu__soc-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
