.section-one {
  padding-top: 94px;
  padding-bottom: 94px;
  justify-items: center;
}
.section-services {
  padding-top: 94px;
  background: white;
  padding-bottom: 94px;
}

.section-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-section {
  display: flex;
  padding-bottom: 200px;
  padding-top: 200px;
}
.footer .section {
  display: flex;
}
